*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:Arial;
}

header{
    background:url('https://images.unsplash.com/photo-1518709268805-4e9042af2176?q=80&w=1200');
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:60px 20px;
    border-bottom:4px solid darkred;
}

header h1{
    font-size:50px;
    color:gold;
}

nav{
    background:darkred;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    padding:15px 20px;
    transition:0.3s;
}

nav a:hover{
    background:black;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}

.card{
    width:300px;
    background:#1d1d1d;
    border:2px solid darkred;
    border-radius:10px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    padding:10px;
    color:gold;
}

.card p,
.card ul{
    padding:10px;
}

.content{
    padding:40px;
}

.big-image{
    width:100%;
    margin:20px 0;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:darkred;
}

.video-block{
    text-align:center;
    padding:40px;
}

.gif{
    width:100%;
    max-width:600px;
    margin-top:20px;
}

.form-section{
    display:flex;
    justify-content:center;
    padding:50px;
}

form{
    background:#1d1d1d;
    padding:30px;
    border-radius:10px;
    width:300px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
    background:darkred;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:red;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
    margin-top:40px;
}

@media(max-width:768px){

header h1{
    font-size:32px;
}

.cards{
    flex-direction:column;
    align-items:center;
}

iframe{
    width:100%;
}

}